* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

button {
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    background-color: blueviolet;
}

button:active {
    background-color: rgb(40, 207, 40);
    transform: scale(0.9);
}